<div class="container">
  <article>
    <div class="contents">
      <div class="row row-eq-height">
        <div class="col-sm-6 col-md-4">
          <%= image_tag 'oka1.jpg' ,class: "img-responsive" ,margin:0 %>
        </div>
        <div class="col-sm-6 col-md-4">
          <%= image_tag 'umi1.jpg' ,class: "img-responsive" %>
        </div>
        <div class="col-sm-6 col-md-4">
         <%= image_tag 'sora1.jpg' ,class: "img-responsive" %>
        </div>
      </div>
    </div>
    <div class="topic">
      <ul>
        <li>Bootstrapの課題のアプリケーションです！</li>
        <li>メニューで「ブログ」を選ぶとブログの追加とかができるようになります！</li>
      </ul>
    </div>
  </article>
</div>